<div class="navbar" th:fragment="navbar">	
	<nav class="navbar navbar-expand-lg navbar-light static-top">
	  <div class="container-fluid">
	  
	    <ul class="nav navbar-nav">
		  <li><a class="navbar-brand" th:href="@{/}">Matcha Shop</a></li>
	      <li><a th:href="@{/}">Home</a></li>
	      <li><a th:href="@{/matchalist}">Shop</a></li>
	      <li><a th:href="@{/producerlist}">Producers</a></li>
	      <li><a th:href="@{/shoppingcart}">Cart</a></li>
	    </ul>
	    
    	<ul class="nav navbar-nav navbar-right" th:if="${#authorization.expression('isAuthenticated()')}">
			<li><a>Hello &ensp;[[${#httpServletRequest.remoteUser}]]!</a></li>
			<li><form th:action="@{/logout}" method="post">
				<input type="submit" value="Log Out" class="btn btn-danger"/>
			</form></li>
		</ul>
		
		<ul class="nav navbar-nav navbar-right" th:if="${#authorization.expression('!isAuthenticated()')}">
			<li><a th:href="@{/signup}">Sign Up</a></li>
			<li><a th:href="@{/login}">Login</a></li>
      	</ul>
      	
	  </div>
	</nav>
</div>
